.footer-container {
    flex-direction: row;
    flex: 1;
}


.footer {
    display: flex;
    flex-direction: row;
}

.footer-container {
    margin: 0 auto;
    padding: 5rem;
    /* display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 0 20rem;
    margin-top: 5rem;
    padding-bottom: 5rem; */
}

.footer-element {
    position: relative;
    color: #fff;
    
    max-width: 1/3;
    flex: 0 0 1/3;
    padding: 0 1.5rem;

    text-align: center;
}

.contact-icon {
    font-size: x-large;
    color: #fff;
    margin: .75rem;
}

.contact-me-group {
    display: block;
    margin: 0 auto;

}
