html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.light-text {
  color: #fff;
}

/* .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 1s ease;
} */

.show-enter {
  height: 0;
}
.show-enter.show-enter-active {
  height: 140px;
  transition: height 0.5s ease-in;
}
.show-leave {
  height: 140px;
}
.show-leave.show-leave-active {
  height: 0;
  transition: height 0.5s ease-in;
}

.example-appear {
  opacity: 0.04;
}
.example-appear.example-appear-active {
  opacity: 5;
  transition: opacity 50s ease-in;
}
.example-leave {
  opacity: 1;
}
.example-leave.example-leave-active {
  opacity: 0.04;
  transition: opacity 50s ease-in;
}